img {
    height:200px;
    width:300px;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}
li {
    display: inline;
    border-right: 1px solid maroon;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}
.active{
    background-color:maroon;
}
li:last-child{
    border-right: none;
}
body{
    padding-top:70px;
}
header{
    top:0;
}
